* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f1a54e;
}

.heading {
  padding: 20px;
}

.calc {
  width: 300px;
  height: 330px;
  border-radius: 20px;
  display: grid;
  background-color: #575757;
  justify-content: center;
  padding-top: 25px;
}
.calc__output {
  background-color: #bcd1c0;
  width: 240px;
  height: 50px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: right;
  font-size: 4rem;
}
.calc__input {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 5px;
  padding-bottom: 15px;
}
.calc__input--btn {
  display: flex;
  width: 60px;
  height: 45px;
  border-radius: 15px;
  background-color: #ececec;
  justify-content: center;
  align-items: center;
  font-size: 150%;
  font-weight: bolder;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#dot {
  grid-column: 2;
  grid-row: 4;
  font-size: 350%;
  align-items: flex-end;
}

#zero {
  grid-column: 1;
  grid-row: 4;
}

#one {
  grid-column: 1;
  grid-row: 3;
}

#two {
  grid-column: 2;
  grid-row: 3;
}

#three {
  grid-column: 3;
  grid-row: 3;
}

#four {
  grid-column: 1;
  grid-row: 2;
}

#five {
  grid-column: 2;
  grid-row: 2;
}

#six {
  grid-column: 3;
  grid-row: 2;
}

#plus {
  grid-column: 3;
  grid-row: 4;
}

#min {
  grid-column: 4;
  grid-row: 3;
}

#div {
  grid-column: 4;
  grid-row: 1;
}

#equals {
  grid-column: 4;
  grid-row: 4;
  background-color: #f1a54e;
  color: white;
  font-size: 350%;
}
